.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
  }
  
  footer {
    background-color: rgb(226, 229, 233);
    padding: 2%;
  }

  .jumbotron {
    margin-bottom: 0px;
  }

  input[type=text] {
    border: 2px solid rgb(204, 227, 247);
    border-radius: 10px;
    text-align: center;
      width:250px;
  }

  input[type=password] {
    border: 2px solid rgb(204, 227, 247);
    border-radius: 10px;
    text-align: center;
      width:250px;
  }

  textarea {
    border: 2px solid rgb(204, 227, 247);
    border-radius: 10px;
      width:250px;
      height:100px;
      text-align: center;
  }

  .menu {
      text-align: center;
      background-color: rgb(204, 227, 247);
      font-size: 30px;
      border: 3px solid rgb(204, 227, 247);
  }

  a {
    border: 3px solid #507cdf;
    border-radius: 10px;
  }
  
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
  .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
  .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11,
  .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
  .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
  .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
  .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
  .col-xs-7, .col-xs-8, .col-xs-9
  {
      position: relative;
      min-height: 1px;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  
  button {
      background-color: #507cdf;
      border: 2px solid #0b31ba;
      border-radius: 10px;
      padding: 15px 32px;
      text-align: center;
      font-size: 20px;
  }

  div.tabelaResultado table{
      margin: auto;
      border-collapse: collapse;
  }

  div.tabelaResultado th, div.tabelaResultado td {
      border: 1px solid #0b31ba;
      width: 120px;
      height: 50px;
      text-align: center;
      background-color:  #a1b0da;
  }